{% extends '/master/default.twig' %}
{% set subtitle = "Busket" %}
{% set path = "../" %}

{% block main %}

    <h2>Index view</h2>
    <h3>What is there:</h3>
    <ul>
        <li></li>
    </ul>

{% endblock %}
