{% extends '/master/default.twig' %}
{% set subtitle = "Home page" %}
{% set path = "" %}

{% block main %}

    <h2>Index view</h2>
    <h3>What is there:</h3>
    <ul>
        <li>login form</li>
        <li>register link</li>
        <li>menu with all groups of subjects</li>
        <li>slider with few promo stuff</li>
    </ul>

{% endblock %}
