{% extends '/master/default.twig' %}
{% set subtitle = "Item info" %}
{% set path = "../" %}

{% block main %}

    <h2>Item view</h2>
    <h3>What is there:</h3>
    <ul>
        <li></li>
    </ul>

{% endblock %}