{% extends '/master/default.twig' %}
{% set subtitle = "Menaging/pannel page" %}
{% set path = "../" %}

{% block main %}

    <h2>Panel view</h2>
    <h3>This page will contain:</h3>
    <ul>
        <li>User information</li>
        <li>Form to change user info</li>
        <li>All orders done by user</li>
        <li>Warning: user can see only his panel</li>
    </ul>

{% endblock %}
