<div class="col-md-6 col-sm-12 login-form">
    <h2>Login:</h2>
    <form class="form" action="#">
        <div class="form-group">
            <label for="email">Address e-mail</label>
            <input type="email" class="form-control" id="email" name="" placeholder="add email" required>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" name="" placeholder="add email" required>
        </div>
        <input class="btn btn-warning" type="submit" value="LOGIN">
    </form>
</div>

